<% @page_title = @current_action%>

<div id="content_l">					
		<h1>Velkommen</h1> 
<p>For å komme i gang må du lage en ny bruker. Det gjør du ved å trykke <span style="color: 'green'"> <%= link_to "HER", signup_path %></span></p>
	<p>For å få din egen førsteside her må du lage en side som har navnet: "Start" (med stor S)</p>	
		
		
</div>

<div id="content_r">

</div>

